asgiref==3.8.1
Brotli==1.1.0
certifi==2025.1.31
charset-normalizer==3.4.1
Django==4.2.20
dpcpp-cpp-rt==2025.0.5
gunicorn==23.0.0
idna==3.10
intel-cmplr-lib-rt==2025.0.5
intel-cmplr-lib-ur==2025.0.5
intel-cmplr-lic-rt==2025.0.5
intel-opencl-rt==2025.0.5
intel-openmp==2025.0.5
intel-sycl-rt==2025.0.5
mkl==2025.0.1
mkl-fft==1.3.6
mkl-random==1.2.2
mkl-service==2.4.0
narwhals==1.30.0
numpy==1.24.4
packaging==24.2
pandas==2.0.3
plotly==6.0.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2025.1
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
tbb==2022.0.0
tcmlib==1.2.0
tenacity==9.0.0
typing_extensions==4.12.2
tzdata==2025.1
umf==0.9.1
urllib3==2.2.3
whitenoise==6.9.0
win-inet-pton==1.1.0
